TZ=Asia/Shanghai
BACKEND_PORT=8081
JAVA_OPTS=-Xms512m -Xmx512m

MYSQL_DATABASE=ry-vue
MYSQL_USER=ruoyi
MYSQL_PASSWORD=change-this-db-password
MYSQL_ROOT_PASSWORD=change-this-root-password

REDIS_PASSWORD=
TOKEN_SECRET=change-this-token-secret
CORS_ALLOWED_ORIGIN_PATTERNS=
